<nz-header>
  <div nz-row>
    <div nz-col [nzXs]="{ span: 14 }" [nzLg]="{ span: 12, offset: 1 }">
      <h1>Dashboard</h1>
    </div>

    <div nz-col [nzXs]="{ span: 10 }" [nzLg]="{ span: 10, offset: 1 }">
      <div class="header-right">
        <!--<div class="notification">
        <i nz-icon nzType="bell"></i>
      </div>-->
        <nz-switch [(ngModel)]="switchValue"></nz-switch>
        <div class="user" nz-dropdown [nzDropdownMenu]="menu">
          <i nz-icon nzType="user"></i>
          <span class="header-username">Subash Thapa</span>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul class="user-dropdown" nz-menu nzSelectable>
            <li nz-menu-item><i nz-icon nzType="user"></i>My Profile</li>
            <li nz-menu-item><i nz-icon nzType="setting"></i> Settings</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="logout()">
              <i nz-icon nzType="logout"></i> Logout
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
</nz-header>
