<div class="add-names" nzJustify="center">
  <div class="name-header">
    <h2 nz-typography>NEPALI NAMES</h2>
    <div class="add-button">
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        (click)="getNames()"
      >
        Fetch Names</button
      >&nbsp;&nbsp;
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        nzMask="true"
        [nzType]="'primary'"
        (click)="showModalAdd()"
      >
        <i nz-icon nzType="plus-circle"></i>
        Add Name
      </button>
      <nz-modal
        [(nzVisible)]="isVisibleTop"
        nzTitle="ADD Names"
        nzMask="true"
        nzWidth="700px"
        (nzOnCancel)="handleCancelAdd()"
        (nzOnOk)="handleOkAdd()"
      >
        <ng-container *nzModalContent>
          <form nz-form [formGroup]="validateForm">
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">Name</nz-form-label>
              <nz-form-control
                nzHasFeedback
                nzValidatingTip="Validating..."
                [nzErrorTip]="userErrorTpl"
              >
                <input nz-input formControlName="name_EN" placeholder="" />
                <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">
                    Please Enter name!
                  </ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">
                    The username is already exists!
                  </ng-container>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">Nepali</nz-form-label>
              <nz-form-control nzErrorTip="Please Enter Nepali Name">
                <input
                  nz-input
                  id="nepali"
                  nzSize="large"
                  formControlName="name_NP"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender"
                >Gender</nz-form-label
              >
              <nz-form-control nzErrorTip="Please select Gender">
                <nz-radio-group formControlName="gender">
                  <label nz-radio nzValue="Male">Male</label>
                  <label nz-radio nzValue="Female">Female</label>
                  <label nz-radio nzValue="Unisex">Unisex</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">Meanings</nz-form-label>
              <nz-form-control nzErrorTip="Please write something here!">
                <textarea
                  formControlName="meaning"
                  nz-input
                  rows="2"
                  placeholder="write any thing"
                ></textarea>
              </nz-form-control>
            </nz-form-item>
          </form>
        </ng-container>
        <div *nzModalFooter>
          <button nz-button nzType="default" (click)="handleCancelAdd()">
            Cancle
          </button>
          <button
            nz-button
            nzType="primary"
            (click)="handleOkAdd(validateForm.value)"
            [nzLoading]="isConfirmLoading"
            [disabled]="validateForm.invalid"
          >
            Submit
          </button>
        </div>
      </nz-modal>
    </div>
  </div>
  <div class="name-search" nzJustify="center">
    <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
      <input
        placeholder="Search Names"
        nzSize="large"
        nz-input
        [(ngModel)]="inputValue"
        (ngModelChange)="onChange($event)"
        [nzAutocomplete]="auto"
      />
    </nz-input-group>
    <ng-template #suffixIcon>
      <i nz-icon nzType="search"></i>
    </ng-template>
    <nz-autocomplete #auto>
      <nz-auto-option
        class="global-search-item"
        *ngFor="let option of options"
        [nzValue]="option.name_EN"
      >
        {{ option.name }}
      </nz-auto-option>
    </nz-autocomplete>
  </div>
  <nz-divider></nz-divider>

  <div class="name-table">
    <nz-table
      #editRowTable
      nzBordered
      [nzData]="filteredOptions"
      nzTableLayout="fixed"
    >
      <thead>
        <tr>
          <th
            *ngFor="let column of listOfColumn"
            [nzSortFn]="column.compare"
            [nzSortPriority]="column.priority"
          >
            {{ column.title }}
          </th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let data of editRowTable.data">
          <ng-container *ngIf="!editCache[data.id]?.edit; else editTemplate">
            <td>{{ data.name_EN }}</td>
            <td>{{ data.name_NP }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.meaning | nzSafeNull: "-" }}</td>
            <td *ngIf="data.modified; else second">
              <button nz-button nzType="primary" (click)="approve(data.id)">
                Approve
              </button>
            </td>

            <ng-template #second
              ><td>{{ data.modified | nzSafeNull: "-" }}</td></ng-template
            >

            <td><a (click)="startEdit(data.id)">Edit</a></td>
          </ng-container>
          <ng-template #editTemplate>
            <td>
              <input
                type="text"
                nz-input
                nzSize="large"
                [(ngModel)]="editCache[data.id].data.name_NP"
              />
            </td>
            <td>
              <input
                type="text"
                nzSize="large"
                nz-input
                [(ngModel)]="editCache[data.id].data.name_EN"
              />
            </td>
            <td>
              <input
                type="text"
                nz-input
                nzSize="large"
                [(ngModel)]="editCache[data.id].data.gender"
              />
            </td>
            <td>
              <input
                type="text"
                nz-input
                nzSize="large"
                [(ngModel)]="editCache[data.id].data.meaning"
              />
            </td>
            <td>
              <input
                type="text"
                nz-input
                nzSize="large"
                [(ngModel)]="editCache[data.id].data.id"
              />
            </td>
            <td>
              <a (click)="saveEdit(data.id)" class="save">Save</a>&nbsp;
              <a
                nz-popconfirm
                nzPopconfirmTitle="Sure to cancel ?"
                (nzOnConfirm)="cancelEdit(data.id)"
                >Cancel</a
              >&nbsp;
              <a
                nz-popconfirm
                nzPopconfirmTitle="Sure to Delete?"
                (nzOnConfirm)="deleteEdit(data.id)"
                >Delete</a
              >
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>

    <!--
      nzType="primary"
        nzSize="large"
        nzMask="true"
        [nzType]="'primary'"
        (click)="showModalAdd()"
       [(nzVisible)]="isVisibleTop"
        nzTitle="ADD Names"
        nzMask="true"
        nzWidth="700px"
        (nzOnCancel)="handleCancelAdd()"
        (nzOnOk)="handleOkAdd()"
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input nz-input name="email" type="email" id="email" />
        </nz-form-control>
      </nz-form-item>
    </form>
    -->
  </div>
</div>
