<!--<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"><img src="../../../assets/nasa-logo-web-rgb.png" /></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <a routerLink="/"
          ><i nz-icon nzType="dashboard"></i> <span>Dashboard</span></a
        >
      </li>
      <li nz-submenu nzTitle="Names" nzIcon="team">
        <ul>
          <li nz-menu-item><a routerLink="/addname">Add Names</a></li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="setting"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="right-layout">
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <div class="header-right">
        <li>
          <i class="search" nz-icon nzType="search"></i>
        </li>
        <li>
          <div
            class="notify"
            nz-dropdown
            [nzDropdownMenu]="menu1"
            nzPlacement="bottomRight"
          >
            <nz-badge [nzCount]="5" style="margin-right: 6px">
              <i nz-icon nzType="bell"></i>
            </nz-badge>
            <nz-dropdown-menu
              #menu1="nzDropdownMenu"
              style="border: 1px solid red"
            >
              <nz-tabset class="notify-dropdown" nz-menu nzSelectable>
                <nz-tab nzTitle="New User">
                  <nz-list>
                    <nz-list-item *ngFor="let item of data">
                      <span nz-typography><mark>[ITEM]</mark></span>
                      {{ item }}
                    </nz-list-item>
                  </nz-list>
                </nz-tab>
                <nz-tab nzTitle="Comments">
                  <nz-list>
                    <nz-list-item *ngFor="let item of data">
                      <span nz-typography><mark>[ITEM]</mark></span>
                      {{ item }}
                    </nz-list-item>
                  </nz-list>
                </nz-tab>
                <nz-tab nzTitle="Actions">
                  <nz-list>
                    <nz-list-item *ngFor="let item of data">
                      <span nz-typography><mark>[ITEM]</mark></span>
                      {{ item }}
                    </nz-list-item>
                  </nz-list>
                </nz-tab>
              </nz-tabset>
            </nz-dropdown-menu>
          </div>
        </li>
        <li>
          <div class="user" nz-dropdown [nzDropdownMenu]="menu">
            <i nz-icon nzType="user"></i>
            <span class="header-username">Subash Thapa</span>
          </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul class="user-dropdown" nz-menu nzSelectable>
              <li nz-menu-item><i nz-icon nzType="user"></i>My Profile</li>
              <li nz-menu-item><i nz-icon nzType="setting"></i> Settings</li>
              <li nz-menu-divider></li>
              <li nz-menu-item><i nz-icon nzType="logout"></i> Logout</li>
            </ul>
          </nz-dropdown-menu>
        </li>
      </div>
    </nz-header>

    

    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>-->
<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="md" [nzCollapsedWidth]="0">
    <div class="logo">
      <h2>Nepali Names</h2>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="video-camera"></i>
        <span>Setting</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="upload"></i>
        <span>Profile</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <app-header></app-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
