.layout {
  min-height: 100vh;
}

.logo {
  padding: 0px;
  margin: 10px;
}
.logo img {
  width: 100%;
  height: 60px;
}
.logo h2 {
  color: white;
}

nz-header {
  background: #fff;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
