<nz-layout class="layout">
  <nz-sider nzCollapsible nzBreakpoint="md" [nzCollapsedWidth]="0">
    <div class="logo">
      <h2>Nepali Names</h2>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>Dashboard</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="video-camera"></i>
        <span>Setting</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="upload"></i>
        <span>Profile</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <app-header></app-header>

    <nz-content>
      <div class="inner-content">
        <app-add-names></app-add-names>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
