<!--<div class="analysis">
  <div nz-row nzJustify="space-around">
    <div nz-col>
      <nz-card
        style="width: 280px; border-bottom: none"
        nzTitle="Total Sales"
        [nzExtra]="extraTemplate"
      >
        <h5>$ 1900000</h5>
        <h5>WoW Change 12%</h5>
        <h5>DoD Change</h5>
        <nz-divider style="margin: 10px 0"></nz-divider>

        <span>Daily Sales $12,423</span>
      </nz-card>
    </div>
    <div nz-col>
      <nz-card style="width: 280px" nzTitle="Visits" [nzExtra]="extraTemplate">
        <h5>$ 1900000</h5>
        <h5>WoW Change 12%</h5>
        <h5>DoD Change</h5>
        <nz-divider></nz-divider>

        <span>Daily Sales $12,423</span>
      </nz-card>
    </div>

    <div nz-col>
      <nz-card
        style="width: 280px"
        nzTitle="Payments"
        [nzExtra]="extraTemplate"
      >
        <h5>$ 1900000</h5>
        <h5>WoW Change 12%</h5>
        <h5>DoD Change</h5>
        <nz-divider></nz-divider>

        <span>Daily Sales $12,423</span>
      </nz-card>
    </div>
    <div nz-col>
      <nz-card
        style="width: 280px"
        nzTitle="Operational Effect"
        [nzExtra]="extraTemplate"
      >
        <h5>$ 1900000</h5>
        <h5>WoW Change 12%</h5>
        <h5>DoD Change</h5>
        <nz-divider></nz-divider>
        <span>Daily Sales $12,423</span>
      </nz-card>
    </div>

    <ng-template #extraTemplate>
      <i nz-icon nzType="info-circle"></i>
    </ng-template>
  </div>
</div>
<div class="inner-content">Bill is a cat.</div>
<nz-divider></nz-divider>
<div class="inner-content">Bill is a cat.</div>
-->

<div class="inner-content">
  <div class="analysis">
    <div nz-row nzJustify="space-around">
      <div nz-col>
        <nz-card
          style="width: 280px; border-bottom: none"
          nzTitle="Total Sales"
          [nzExtra]="extraTemplate"
        >
          <h5>$ 1900000</h5>
          <h5>WoW Change 12%</h5>
          <h5>DoD Change</h5>
          <nz-divider style="margin: 10px 0"></nz-divider>

          <span>Daily Sales $12,423</span>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card
          style="width: 280px"
          nzTitle="Visits"
          [nzExtra]="extraTemplate"
        >
          <h5>$ 1900000</h5>
          <h5>WoW Change 12%</h5>
          <h5>DoD Change</h5>
          <nz-divider></nz-divider>

          <span>Daily Sales $12,423</span>
        </nz-card>
      </div>

      <div nz-col>
        <nz-card
          style="width: 280px"
          nzTitle="Payments"
          [nzExtra]="extraTemplate"
        >
          <h5>$ 1900000</h5>
          <h5>WoW Change 12%</h5>
          <h5>DoD Change</h5>
          <nz-divider></nz-divider>

          <span>Daily Sales $12,423</span>
        </nz-card>
      </div>
      <div nz-col>
        <nz-card
          style="width: 280px"
          nzTitle="Operational Effect"
          [nzExtra]="extraTemplate"
        >
          <h5>$ 1900000</h5>
          <h5>WoW Change 12%</h5>
          <h5>DoD Change</h5>
          <nz-divider></nz-divider>
          <span>Daily Sales $12,423</span>
        </nz-card>
      </div>

      <ng-template #extraTemplate>
        <i nz-icon nzType="info-circle"></i>
      </ng-template>
    </div>
  </div>
  <div class="inner-content">Bill is a cat.</div>
  <nz-divider></nz-divider>
  <div class="inner-content">Bill is a cat.</div>
</div>
