.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}
nz-content {
  margin: 16px;
}

.analysis {
  margin: 10px 0px;
}

nz-divider {
  margin: 10px 0 !important;
}

.layout {
  min-height: 100vh;
}

.logo {
  padding: 0px;
  margin: 10px;
}
.logo img {
  width: 100%;
  height: 60px;
}
.logo h2 {
  color: white;
}
nz-menu {
  margin-top: 5%;
}

nz-footer {
  text-align: center;
}
